<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LateNightCommits</title>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍺</text></svg>"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-gray-200 text-gray-800">
    <div class="bg-gray-100 shadow-md">
      <div class="m-auto py-5 px-4 mb-2 font-serif lg:max-w-4xl lg:px-0">
        <h1 class="text-2xl sm:text-5xl">🍺 Late Night Commits</h1>
        <p class="text-sm sm:text-base text-gray-600">
          Cause nothing good ever happens after 2 A.M.
        </p>
      </div>
    </div>

    <div class="m-auto lg:max-w-4xl px-4 lg:px-0">
      <div>
        <ul class="divide-y divide-gray-400">
          {{ range $commit := .commits }}
          <li class="flex items-center py-2">
            <div class="w-24 flex-shrink-0 sm:w-auto sm:flex sm:items-center">
              <a
                class="sm:w-24 sm:flex-shrink-0"
                href="https://github.com/{{$commit.Author}}"
                rel="noreferrer noopener"
                target="_blank"
              >
                <img src="{{$commit.AvatarURL}}" />
              </a>

              <div class="p-1 sm:px-5 text-2xs text-center">
                <div>{{$commit.Author}}</div>
                <small>{{$commit.PrintCreatedAt}}</small>
              </div>
            </div>

            <div class="p-3 font-mono text-sm sm:text-base">
              <a
                class="hover:underline"
                href="{{$commit.Link}}"
                rel="noreferrer noopener"
                target="_blank"
              >
                {{$commit.Message}}
              </a>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </body>
</html>
