<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LateNightCommits</title>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍺</text></svg>"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-gray-200 text-gray-800">
    <div class="bg-gray-100 shadow-md">
      <div class="m-auto sm:max-w-4xl py-5 px-4 sm:px-0 mb-2 font-serif">
        <h1 class="text-2xl sm:text-5xl">🍺 Late Night Commits</h1>
        <p class="text-sm sm:text-base text-gray-600">
          Cause nothing good ever happens after 2 A.M.
        </p>
      </div>
    </div>

    <div class="m-auto sm:max-w-4xl px-4 sm:px-0">
      <div>
        <ul class="divide-y divide-gray-400">
          <li class="flex items-center py-2">
            <div class="w-24 flex-shrink-0">
              <a
                href="https://github.com/SpicySnail"
                rel="noreferrer noopener"
                target="_blank"
              >
                <img src="https://avatars.githubusercontent.com/u/27336752" />
              </a>

              <div class="p-1 text-2xs text-center">
                <div>SpicySnail</div>
                <small>04/02/18 18:56 AM</small>
              </div>
            </div>

            <div class="p-3 font-mono text-sm sm:text-base">
              <a
                class="hover:underline"
                href="https://github.com/SpicySnail"
                rel="noreferrer noopener"
                target="_blank"
                >Added full project, code is still shit though</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
